*{
  padding: 0px;
  margin: 0 auto; 
}

body{
  background: #FFFFFF;
}

p{
  font-size: 16px;
}

.container-fluid{
  background-image: url("../img/menu.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10%;
  height: 100vh;
}

.titulo{
  text-align: center;
  margin-top: 13%;
  font-family: 'Chilanka', cursive;
}

.datos{
  text-align: center;
}

.waves-effect{
  background: #FFFFFF;
  color: black;
  margin-left: 35%;
}

.menu{
  font-family: 'Chilanka', cursive;
  font-weight: bold;
}

.modal{
  background-image: url("../img/modal.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 16px;
  height: 100%;
}

.modal .modal-content {
  margin-top: 30%;
}

.modal .modal-content p{
  padding: 4%;
}

.modal .modal-footer {
  border-radius: 0 0 2px 2px;
  width: 40% !important;
  right: -80%;
  margin-top: -70%;
}

.modal .modal-close {
  right: -85%;
}

.adicional{
  margin-top: 10%;
}

.title{
  text-align: center;
  font-family: 'Chilanka', cursive;
  margin-top: 10%;
}

@media screen and (max-width: 374px){
  .modal .modal-content p{
    padding: 1%;
  }
  .modal .modal-footer {
    margin-top: -65%;
  }
  .adicional{
    margin-top: 0%;
  }
  .adicional p{
    margin-top: -9%;
  }
}

@media screen and (max-width: 359px){
  .modal .modal-content p{
    padding: 2%;
  }
  .modal .modal-footer {
    margin-top: -85%;
  }
  .titulo{
    text-align: center;
    margin-top: 6%;
    font-family: 'Chilanka', cursive;
  }
  .container-fluid{
    padding: 2%;
    height: 100vh;
  }
  .adicional{
    margin-top: 0%;
  }
  .adicional p{
    margin-top: -9%;
  }
}